form{
display:inline-block;
width:49%;
}

#form1{
top:0px;;
}

#form2{
left:0px;;
}

legend{
font-family:Arial;
font-size:20px;
font-weight:bold;
}

label{
font-family:Arial;
}

input{
font-family:Arial;
}

img{
width:30%;
}
